<div class="flex flex-col gap-4 justify-center items-center">
  <div class="flex justify-center items-center gap-4">
    <a
      href="mailto:info@drfresneda.com"
      rel="noopener noreferrer"
      aria-label="Enviar un email a info@justdarian.com"
    >
      <img
        src="/gmail.svg"
        alt="Email"
        class="size-9 transition-transform duration-300 hover:scale-110"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/drmarianofresneda/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Ir a mi LinkedIn"
    >
      <img
        src="/linkedin.svg"
        alt="LinkedIn"
        class="size-9 transition-transform duration-300 hover:scale-110"
      />
    </a>
    <a
      href="https://wa.me/5491121547438"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Enviar un mensaje por WhatsApp"
    >
      <img
        src="/whatsapp.svg"
        alt="WhatsApp"
        class="size-9 transition-transform duration-300 hover:scale-110"
      />
    </a>
  </div>

  <a
    href="mailto:info@justdarian.com"
    rel="noopener noreferrer"
    aria-label="Enviar un email a info@justdarian.com"
  >
    <p class="text-lg font-semibold tracking-wider">info@drfresneda.com</p>
  </a>
</div>
